@model List<LearnerProject.Models.Entities.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h3>Öğrenci Sayfası</h3>
<table class="table table-bordered table-hover">

    <tr>
        <td>#</td>
        <td>İsim Soyisim</td>
        <td>Kullanıcı Adı</td>
        <td>Şifre</td>
        <td>İşlemler</td>
    </tr>

    @foreach (var item in Model)
    {
        count++;
<tr>
    <td>@count</td>
    <td>@item.NameSurname</td>
    <td>@item.UserName</td>
    <td>@item.Password</td>

    <td>
        <a href="/Student/DeleteStudent/@item.StudentId" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Sil</a>
        <a href="/Student/UpdateStudent/@item.StudentId" class="btn btn-outline-info"><i class="fa fa-pen"></i>Güncelle</a>
    </td>
</tr>
    }
</table>
<a href="/Student/AddStudent" class="btn btn-outline-success">Yeni Öğrenci Ekle</a>

