@model LearnerProject.Models.Entities.Student
@{
    ViewBag.Title = "UpdateStudent";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h3>Öğrenci Güncelleme Sayfası</h3>

<form method="post">
    @Html.HiddenFor(x => x.StudentId)
    <label>İsim Soyisim</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Kullanıcı Adı</label>
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    <label>Şifre</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success"><i class="fa fa-save"></i>Güncelle</button>
</form>
