@model List<LearnerProject.Models.Entities.Banner>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h3>Afiş </h3>

<table class="table table-bordered table-hover">

    <tr>
        <td>#</td>
        <td>Afiş</td>
        <td>İşlemler</td>
    </tr>

    @foreach (var item in Model)
    { count++;
          <tr>
              <td>@count</td>
              <td>@item.Title</td>
              <td>
                  <a href="/Banner/DeleteBanner/@item.BannerId" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Sil</a>
                  <a href="/Banner/UpdateBanner/@item.BannerId" class="btn btn-outline-info"><i class="fa fa-pen"></i>Güncelle</a>
              </td>
          </tr>
    }

</table>
<a href="/Banner/AddBanner" class="btn btn-outline-success">Yeni Afiş Ekle</a>