@model LearnerProject.Models.Entities.Banner
@{
    ViewBag.Title = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Banner GüncellemeSayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.BannerId)
    <label>Afiş</label>
    @Html.TextAreaFor(x => x.Title, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success"><i class="fa fa-save"></i>Güncelle</button>
</form>

