
@{
    Layout = null;
}

<!-- /*
* Template Name: Learner
* Template Author: Untree.co
* Tempalte URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <link href="https://fonts.googleapis.com/css2?family=Display+Playfair:wght@400;700&family=Inter:wght@400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/animate.min.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/aos.css">
    <link rel="stylesheet" href="~/Templates/learner-1.0.0/css/style.css">

    <title>Learner Free Bootstrap Template by Untree.co</title>
</head>

<body>

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>



    <nav class="site-nav mb-5">
        <div class="pb-2 top-bar mb-3">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-6 col-lg-6">
                        <a href="/Default/asked/" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> <span class="d-none d-lg-inline-block">Sorunuz var mı?</span></a>
                        <a href="#" class="small mr-3"><span class="icon-phone mr-2"></span> <span class="d-none d-lg-inline-block">+90(545)-637-05-11</span></a>
                        <a href="#" class="small mr-3"><span class="icon-envelope mr-2"></span> <span class="d-none d-lg-inline-block">LearnerCourse@gmail.com</span></a>
                    </div>

                    <div class="col-6 col-lg-6 text-right">
                        <a href="/StudentLogin/Index" class="small mr-3">
                            <span class="icon-lock"></span>
                            Öğrenci Girişi
                        </a>
                        <a href="/TeacherLogin/Index" class="small mr-3">
                            <span class="icon-lock"></span>
                            Eğitmen Girişi
                        </a>
                        <a href="/Admin/Index" class="small mr-3">
                            <span class="icon-lock"></span>
                            Admin Girişi
                        </a>
                        <a href="/StudentRegister/Index" class="small">
                            <span class="icon-person"></span>
                            Öğrenci Kaydı
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="sticky-nav js-sticky-header">
            <div class="container position-relative">
                <div class="site-navigation text-center">
                    <a href="index.html" class="logo menu-absolute m-0">Learner<span class="text-primary">.</span></a>

                    <ul class="js-clone-nav d-none d-lg-inline-block site-menu">
                        <li><a href="/Default/Index/">Ana Sayfa</a></li>
                        <li><a href="#about">Hakkımızda</a></li>
                        <li><a href="/AllCourse/Index/">Kurslar</a></li>
                        <li><a href="/Contact/Index">İletişim</a></li>
                        <li><a href="#faq">Soru&Cevap</a></li>

                    </ul>

                    <a href="/StudentRegister/Index/" class="btn-book btn btn-secondary btn-sm menu-absolute">Şimdi Kaydol</a>

                    <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
                        <span></span>
                    </a>

                </div>
            </div>
        </div>
    </nav>





    @RenderBody()


    <div class="site-footer">


        <div class="container">

            <div class="row">
                <div class="col-lg-3 mr-auto">
                    <div class="widget">
                        <h3>Hakkımızda<span class="text-primary">.</span> </h3>
                        <p>Merhaba, biz Learner olarak yazılım, fotoğrafçılık ve kodlama gibi çeşitli alanlarda kurslar düzenleyen bir eğitim kurumuyuz. Uzman ekibimiz, her biri kendi alanında deneyimli ve tutkulu eğitmenlerden oluşuyor. Amacımız öğrencilere, bu alanlarda bilgi ve beceri kazandırırken onların potansiyellerini en üst seviyeye çıkarmak.</p>
                    </div> <!-- /.widget -->
                    <div class="widget">
                        <h3>Sosyal Medayalarımız</h3>
                        <ul class="list-unstyled social">
                            <li><a href="https://www.instagram.com/accounts/login/"><span class="icon-instagram"></span></a></li>
                            <li><a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidHIifQ%3D%3D%22%7D"><span class="icon-twitter"></span></a></li>
                            <li><a href="https://tr-tr.facebook.com/login/device-based/regular/login/?login_attempt=1"><span class="icon-facebook"></span></a></li>
                            <li><a href="https://www.google.com/search?q=linkeld&oq=li&gs_lcrp=EgZjaHJvbWUqBggCEEUYOzIGCAAQRRg8MgYIARBFGDsyBggCEEUYOzIMCAMQIxgnGIAEGIoFMgYIBBBFGDkyBggFEEUYPDIGCAYQRRg8MgYIBxBFGDzSAQgxMTkyajBqN6gCCLACAQ&sourceid=chrome&ie=UTF-8"><span class="icon-linkedin"></span></a></li>
                            <li><a href="https://tr.pinterest.com/"><span class="icon-pinterest"></span></a></li>
                            <li><a href="https://www.google.com/search?q=dribbble&oq=dribbble&gs_lcrp=EgZjaHJvbWUyBggAEEUYOdIBBzk5N2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8"><span class="icon-dribbble"></span></a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

                <div class="col-lg-2 ml-auto">
                    <div class="widget">
                        <h3>Projects</h3>
                        <ul class="list-unstyled float-left links">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">HTML5</a></li>
                            <li><a href="#">CSS3</a></li>
                            <li><a href="#">jQuery</a></li>
                            <li><a href="#">Bootstrap</a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

                <div class="col-lg-3 ">
                    <div class="widget">
                        <h3>Galerimiz</h3>
                        <ul class="instafeed instagram-gallery list-unstyled">
                            <li>


                                <a class="instagram-item" href="~/Templates/learner-1.0.0/images/about_1.jpg" data-fancybox="gal"><img src="~/Templates/learner-1.0.0/images/about_1.jpg" alt="" width="72" height="72"></a>
                            </li>
                            <li>
                                <a class="instagram-item" href="~/Templates/learner-1.0.0/images/about_2.jpg" data-fancybox="gal"><img src="~/Templates/learner-1.0.0/images/about_2.jpg" alt="" width="72" height="72"></a>
                            </li>
                            <li>
                                <a class="instagram-item" href="~/Templates/learner-1.0.0/images/hero-img-1-min.jpg" data-fancybox="gal"><img src="~/Templates/learner-1.0.0/images/hero-img-1-min.jpg" alt="" width="72" height="72"></a>
                            </li>
                            <li>
                                <a class="instagram-item" href="~/Templates/learner-1.0.0/images/hero_bg.jpg" data-fancybox="gal"><img src="~/Templates/learner-1.0.0/images/hero_bg.jpg" alt="" width="72" height="72"></a>
                            </li>
                            <li>
                                <a class="instagram-item" href="~/Templates/learner-1.0.0/images/hero_bg_2.jpg" data-fancybox="gal"><img src="~/Templates/learner-1.0.0/images/hero_bg_2.jpg" alt="" width="72" height="72"></a>
                            </li>
                            <li>
                                <a class="instagram-item" href="~/Templates/learner-1.0.0/images/img_1.jpg" data-fancybox="gal"><img src="~/Templates/learner-1.0.0/images/img_1.jpg" alt="" width="72" height="72"></a>
                            </li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->


                <div class="col-lg-3">
                    <div class="widget">
                        <h3>İletişim</h3>
                        <address>İstanbul/Türkiye</address>
                        <ul class="list-unstyled links mb-4">
                            <li><a href="tel://11234567890">+90(545)-637-05-11</a></li>
                            <li><a href="mailto:info@mydomain.com">LearnerCourse@gmail.com</a></li>
                        </ul>
                    </div> <!-- /.widget -->
                </div> <!-- /.col-lg-3 -->

            </div> <!-- /.row -->


        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <script src="~/Templates/learner-1.0.0/js/jquery-3.4.1.min.js"></script>
    <script src="~/Templates/learner-1.0.0/js/popper.min.js"></script>
    <script src="~/Templates/learner-1.0.0/js/bootstrap.min.js"></script>
    <script src="~/Templates/learner-1.0.0/js/owl.carousel.min.js"></script>
    <script src="~/Templates/learner-1.0.0/js/jquery.animateNumber.min.js"></script>
    <script src="~/Templates/learner-1.0.0/js/jquery.waypoints.min.js"></script>
    <script src="~/Templates/learner-1.0.0/js/jquery.fancybox.min.js"></script>
    <script src="~/Templates/learner-1.0.0/js/jquery.sticky.js"></script>
    <script src="~/Templates/learner-1.0.0/js/aos.js"></script>
    <script src="~/Templates/learner-1.0.0/js/custom.js"></script>

</body>

</html>

