@model List<LearnerProject.Models.Entities.Course>

<div class="untree_co-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="0">
                <h2 class="line-bottom text-center mb-4 ">Kurslarımız</h2>
            
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4 table-bordered" data-aos="fade-up" data-aos-delay="100">
                    <div class="feature">
                        <img src="@item.ImageUrl" alt="Image" style="height:150px;width:400px;"class="img-fluid ">
                        <h3>@item.CourseName</h3>
                        <p>@item.Description.Substring(0, Math.Min(140, @item.Description.Length))...</p>

                    </div>
                </div>
            }
        </div>
    </div> <!-- /.container -->
</div> <!-- /.untree_co-section -->
